/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import '@mantine/core/styles.css';

body {
  background-color: #FAF6F6;
  padding-top: 8px;
}



/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #E3000F;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #E3000F;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}


@font-face {
  font-family: "Inter Light";
  src: url('/fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Inter Bold";
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Inter Regular";
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Inter Black";
  src: url('/fonts/Inter-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Inter ExtraBold";
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
}


:root {
  --ifm-font-family-base: "Inter Regular"
}

.headline {
  font-family: "Inter Regular";
  font-size: 50px;
  line-height: 52px;
  color: black;
  margin-bottom: 24px;
}

.sub {
  font-family: "Inter Black";
  color: #FCB5B5;
  margin-bottom: 78px;
}

.count {
  font-family: "Inter Black";
  color: #FCB5B5;
}

.sad {
  color: #CF8E80;
}

.rainbow-red {
  color: #F59595;
}

.rainbow-orange {
  color: #F3C28C;
}

.rainbow-yellow {
  color: #F8DB97;
}

.rainbow-green {
  color: #AEE2A9;
}

.rainbow-blue {
  color: #97B7D5;
}

.rainbow-violet {
  color: #BE8FC3;
}

.center-right {
  text-align: right;
}

.center-left {
  text-align: left;
}

tbody {
  color: black; 
  font-family: "Inter Regular";
  font-size: 24px;
}

tr {
  background-color: transparent !important;
  border: none !important;
}

td {
  border: none !important;
}